/* Font family de base du site */

@font-face {
    font-family: 'nunito';
    src: url('../fonts/nunito-regular-webfont.eot');
    src: url('../fonts/nunito-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nunito-regular-webfont.woff2') format('woff2'), url('../fonts/nunito-regular-webfont.woff') format('woff'), url('../fonts/nunito-regular-webfont.svg#nunitoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
ul
{
    list-style: none;
}
/* Class definissant certaine couleur phare au site */
.rose
{
    color : #eb89af!important;
}
.bleu
{
    color : #84c1fa!important;
}
.vert
{
    color: rgb(0, 142, 0)!important;
}
.erreur_404{
    background-color: black;
/*    background-image:url("image/chute_serveur_blanc.svg");*/
    min-height: 70vh;
}
.erreur_centre{
}
.text_erreur{
    font-size: 20px;
    color: white;
    font-weight: bold;
/*    text-align: center;*/
}
.collapse_party{
    
    color: black !important;
    text-decoration: none;
}
.center{
    text-align: center;
}
/* class d'erreur */
.error
{
    color: red!important;
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: left;
    font-weight: bold;
}
.menu_setting, .menu_setting a{
    color: white;
    font-weight: bold;
}
.menu_setting a:hover{
    color: #eb89af!important;
    font-weight: bold;
}
/* modif bootstrap pour les tableaux */
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #84c1fa;
}
/* modification du hr */
hr
{
    border : 1px inset #eb89af!important;
    width: 90%;
}
/* class pour enlever les paddings des class col de bootstrap */
.no-padding > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
/**
 Header du site
 */
.menu{
    margin-bottom: 5vh;
}
.active-setting{
    background-color: white;
}
.active-setting a{
    color: black;
}
.header {
    background-color: black;
    padding: 0px;
    padding-top: 5px;
    padding-left: 5px;
}
#logo {
    padding: 5px;
}
.my_drop {
    margin-top: 1%;
}
.droplink {
    color: white;
    font-size: 25px;
}
.droplink:hover {
    color: #eb89af;
    cursor: pointer;
}

/**
 Corps du site
 */

body {
    background-image: url(../image/motif.png);
    padding: 0;
}
.corps {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 1px -1px 35px #000000;
    min-height: 70vh;
    padding: 0;
}

/* Titre du site */

.hdp {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 2.7em;
    text-transform: uppercase;
    font-weight: 200;
}
@media screen and (max-width: 768px){
   .hdp {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 200;
} 
}
/* Les trois boutons des pages principales du site */

.livreor {
    margin-left: 4%;
    margin-right: 4%;
    transform: scale(1.4);
}
@media (max-width: 768px) {
    .livreor {
        margin-left: 0;
        margin-right: 0;
    }
}
.livreor:hover,
.ancrei:hover,
.ancrec:hover {
    transform: scale(1.6);
}
.lien {
    box-shadow: 1px -1px 35px #000000;
    padding: 0 !important;
    transition: .2s;
}
.lien:hover
{
    transform: scale(1.1);
    
}
.ou {
    text-align: center;
    font-size: 2.5em;
    margin-top: 5vh;
}
.sous_titre1,
.sous_titre2 {
    text-align: center;
    font-size: 1em;
    padding-top: 10px;
    visibility: hidden;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
}
.incruste,
.casserole {
    font-size: 1.2em;
    margin: 0;
    font-family: 'Lobster Two', cursive;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.8);
    height: 45px;
    padding-top: 12px;
    border-radius: 10px;
    /*    width: 82%;*/
    /*    margin-left: 9%;*/
    text-align: center;
    transition: .3s;
}
.incruste a,
.casserole a{
    color: white;
    text-decoration: none;
}
.incruste a:hover,
.casserole a:hover{
/*    color: white;*/
    text-decoration: none;
}
.incruste:hover + .sous_titre1 {
    visibility: visible;
}
.incruste:hover,
.casserole:hover {
    background-color: #eb89af;
    cursor: pointer;
}
.casserole:hover{
     background-color: #84c1fa;
}
.casserole:hover + .sous_titre2 {
    visibility: visible;
}
.livre {
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: 1px -1px 35px #000000;
    margin-bottom: 5vh;
}
/* Inscription */
.accueil{
    background-image: url(../image/inscription.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px -1px 35px #000000;
}
.register
{
    margin-top: 20px;
    background-color: white;
    border: solid 2px #eb89af;
    border-radius: 10px;
    padding: 20px;
}
.success{
    margin-top: 27%;
    margin-bottom: 26%;
    text-align: center;
    font-size: 1.5em;
}
/* Profil membre  */
.membre
{
    margin-top: 3%;
}
.avatar
{
    height: 200px;
    overflow: hidden;
}
.send-message{
    font-size: 16px;
}
/* Description */

.description
{
    padding: 1%;
}
.description-text
{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}
.guillemet-left
{
    float: left;
}
.guillemet-right
{
    float: right;
}

/* commentaire */

.commentaire
{
    padding: 1%;
    margin-top: 1%;
    height: 300px;
    overflow: auto;
}
.commentaire-affiche
{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}
.avis
{
    padding: 2%;
    margin-top: 1%;
}
.button
{
    margin-top: 1%;
}


/* formulaire */
 fieldset
{
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
}
/* recherche soiree */
.form_soiree{
   margin-top: 5%;
   margin-bottom: 2%;
}
/* Messagerie */
.tableLink{
    display: block;
    width: 100%;
}
.tableLink {
   color: black!important;
    text-decoration: none!important;
}
.messagerie-text
{
    padding: 5%;
    font-size: 18px !important;
    border: 1px lightgrey solid;
    border-radius: 5px;
    background-color: white;
/*    text-align: center;*/
    min-height : 25vh;
}
.bouton_validate
{
    margin-top: 6%;
}
.member_list{
    font-size: 18px !important;
    min-height : 25vh;
    overflow-y: scroll;
    margin-bottom: 2%;
}
.party_member{
    display: flex;
    justify-content: space-around;
}
/* footer */

.foot {
    
    background-color: black;
}
.fb
{
    width: 50px;
}
.footer_menu a
{
    color: white;
    text-decoration: underline;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
}
.footer_menu
{
     text-align: center;
}
.footer ul
{
    list-style-type: none;
    vertical-align: top;
}
.share a
{
    color: #84c1fa;
    font-size: 1.2em;
    font-family: 'Nunito', sans-serif;
}
.share h3 {
    color: #eb89af;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
}
/* POP UP */

#fade { /*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none; /*--masqué par défaut--*/
	background: #fff;
	padding: 20px;
	border: 20px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	/*--Les différentes définitions de Box Shadow en CSS3--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--Coins arrondis en CSS3--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
img.btn_close {
	float: right;
	margin: -55px -55px 0 0;
}